<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=,, initial-scale=1.0" />
    <title>Ana Sayfa</title>

   </head>

   <body>

    <div class="container">
     
      <div class="repeat" *ngFor="let section of context">
        <section id="{{ section.id }}">
          <div class="page-container">
            <div class="row">
              <h3 class="headline hr">{{ section.headline }}</h3>

              <div class="middle column">
                <h1 class="home-title col-sm-6 col-lg-3">{{ section.title }}</h1>
                <h1 class="home-title highlight col-sm-6 col-lg-3">{{ section.highlight }}</h1>
                <p class="col-sm-9">{{ section.description }}</p>
                <button class="btn btn-outline-light col-md-12 col-lg-3">
                  Detaylı Bilgi <span>-></span>
                </button>
              </div>
              <a href="#{{ section.next }}" class="col-sm-12 col-lg-3"> KAYDIRIN <span> ok </span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <!-- body version 2.0
  <body>

    <div class="container">
     
      <div class="repeat" *ngFor="let section of context">
        <section id="{{ section.id }}">
          <div class="page-container">
            <div class="row">
              <h3 class="headline hr">{{ section.headline }}</h3>

              <div class="middle column">
                <h1 class="home-title col-sm-6 col-lg-3">{{ section.title }}</h1>
                <h1 class="home-title highlight col-sm-6 col-lg-3">{{ section.highlight }}</h1>
                <p class="col-sm-9">{{ section.description }}</p>
                <button class="btn btn-outline-light col-md-12 col-lg-3">
                  Detaylı Bilgi <span>-></span>
                </button>
              </div>
              <a href="#{{ section.next }}" class="col-sm-12 col-lg-3"> KAYDIRIN <span> ok </span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </body> -->

  <!-- working demo below -->
  <!-- <body *ngFor="let section of context">
    <section id="img-{{ section.id }}">
      <div class="container">
        <div class="row">
          <h3 class="headline col-sm-12 col-md-6 col-lg-3">{{ section.headline }}</h3>
          <div class="middle col-sm-12">
            <h1 class="home-title">{{ section.title }}</h1>
            <h1 class="home-title highlight">{{ section.highlight }}</h1>
            <p>{{ section.description }}</p>
            <button class="btn btn-outline-light">
              Detaylı Bilgi <span>-></span>
            </button>
          </div>
         </div>
         <button class="btn btn-outline-light bottom col-sm-3" style="border: 0;">Kaydırın <span>aşağı ok</span></button>
      </div>
    </section>
  </body> -->

</html>
