<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">hemofili dünyam logo</div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >ANA SAYFA</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >HEMOFİLİYİ ANLAMAK</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >HEMOFİLİ DÜNYAM</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >HEMOFİLİ DÜNYASINDA YAŞAMAK</a
      >
      <a href="#" class="list-group-item list-group-item-action bg-light"
        >BU DÜNYANIN DESTEKÇİLERİ</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button> -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <nav
      class="navbar navbar-expand-lg navbar-light"
    >
      <button
        class="navbar-toggler"
        id="menu-toggle"
        type="button"
        data-toggle="collapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

      <app-home-page></app-home-page>
    </div>
    <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- Old html page - only displays home-page component and a dummy navbar on top 
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>{{ title }}</title>
  </head>
  <body> -->
  <!-- navigation bar overlaps with the content. That is balanced with margin in the home-page component -->
  <!-- <app-nav-bar> </app-nav-bar> -->

  <!-- class main-page will be replaced with the routing module -->
  <!-- <div class="main-page">
      <app-home-page></app-home-page> 
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html> -->
</div>
